#
# Nuvoton network device configuration
#

config NET_VENDOR_NUVOTON
	bool "Nuvoton devices"
	default y
	depends on ARM && (ARCH_NUC700 || ARCH_W90X900)
	---help---
	  If you have a network (Ethernet) card belonging to this class, say Y
	  and read the Ethernet-HOWTO, available from
	  <http://www.tldp.org/docs.html#howto>.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Nuvoton cards. If you say Y, you will be asked
	  for your specific card in the following questions.

if NET_VENDOR_NUVOTON

config W90P910_ETH
	tristate "Nuvoton NUC700/NUC900 Ethernet support"
	depends on ARM && (ARCH_NUC700 || ARCH_W90X900)
	select PHYLIB
	select NET_CORE
	select MII
	---help---
	  Say Y here if you want to use the built-in Ethernet ports
	  on the NUC700/NUC900/W90P910 series of processors.

endif # NET_VENDOR_NUVOTON
